<!DOCTYPE html>
<html>
<head>
	<title>Sudoku Board</title>
	<style type="text/css">
		table {
			border-collapse: collapse;
			margin: auto;
		}
		td {
			width: 30px;
			height: 30px;
			border: 1px solid black;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			font-family: Arial, sans-serif;
			cursor: pointer;
		}
		td:nth-child(3n) {
			border-right: 3px solid black;
		}
		td:nth-child(9n) {
			border-right: 3px solid black;
		}
		tr:nth-child(3n) td {
			border-bottom: 3px solid black;
		}
		tr:nth-child(9n) td {
			border-bottom: 3px solid black;
		}
		td:focus {
			background-color: lightgray;
		}
		.num{
			width: 100%;
			height: 100%;
			border: 1px;
			padding: 0px;
			border-color:solid black ;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			font-family: Arial, sans-serif;
			cursor: pointer;
		}
		body {
			zoom: 150%;
		}
		  
		  
	</style>
</head>
<body>
	<h1 style="text-align:center">Sudoku</h1>
	<form action="/submit" method="post">
	<table>
		<tr>
			<td tabindex="1">1</td>
			<td tabindex="2"><input type="text" class="num" name="2" value="{{data.num2}}"></td>
			<td tabindex="3">4</td>
			<td tabindex="4">2</td>
			<td tabindex="5"><input type="text" class="num" name="5" value="{{data.num5}}"></td>
			<td tabindex="6">7</td>
			<td tabindex="7">9</td>
			<td tabindex="8">8</td>
			<td tabindex="9"><input type="text" class="num" name="9" value="{{data.num9}}"></td>
		</tr>
		<tr>
			<td tabindex="10"><input type="text" class="num" name="10" value="{{data.num10}}"></td>
			<td tabindex="11">8</td>
			<td tabindex="12"><input type="text" class="num" name="12" value="{{data.num12}}"></td>
			<td tabindex="13"><input type="text" class="num" name="13" value="{{data.num13}}"></td>
			<td tabindex="14"><input type="text" class="num" name="14" value="{{data.num14}}"></td>
			<td tabindex="15"><input type="text" class="num" name="15" value="{{data.num15}}"></td>
			<td tabindex="16">6</td>
			<td tabindex="17"><input type="text" class="num" name="17" value="{{data.num17}}"></td>
			<td tabindex="18">2</td>
		</tr>
		<tr>
			<td tabindex="19">6</td>
			<td tabindex="20"><input type="text" class="num" name="20" value="{{data.num20}}"></td>
			<td tabindex="21"><input type="text" class="num" name="21" value="{{data.num21}}"></td>
			<td tabindex="22">8</td>
			<td tabindex="23"><input type="text" class="num" name="23" value="{{data.num23}}"></td>
			<td tabindex="24">3</td>
			<td tabindex="25"><input type="text" class="num" name="25" value="{{data.num25}}"></td>
			<td tabindex="26"><input type="text" class="num" name="26" value="{{data.num26}}"></td>
			<td tabindex="27">7</td>
		</tr>
		<tr>
			<td tabindex="28"><input type="text" class="num" name="28" value="{{data.num28}}"></td>
			<td tabindex="29"><input type="text" class="num" name="29" value="{{data.num29}}"></td>
			<td tabindex="30"><input type="text" class="num" name="30" value="{{data.num30}}"></td>
			<td tabindex="31">9</td>
			<td tabindex="32">4</td>
			<td tabindex="33">1</td>
			<td tabindex="34"><input type="text" class="num" name="34" value="{{data.num34}}"></td>
			<td tabindex="35">6</td>
			<td tabindex="36"><input type="text" class="num" name="36" value="{{data.num36}}"></td>
		</tr>
		<tr>
			<td tabindex="37">3</td>
			<td tabindex="38"><input type="text" class="num" name="38" value="{{data.num38}}"></td>
			<td tabindex="39"><input type="text" class="num" name="39" value="{{data.num39}}"></td>
			<td tabindex="40"><input type="text" class="num" name="40" value="{{data.num40}}"></td>
			<td tabindex="41"><input type="text" class="num" name="41" value="{{data.num41}}"></td>
			<td tabindex="42"><input type="text" class="num" name="42" value="{{data.num42}}"></td>
			<td tabindex="43"><input type="text" class="num" name="43" value="{{data.num43}}"></td>
			<td tabindex="44"><input type="text" class="num" name="44" value="{{data.num44}}"></td>
			<td tabindex="45">9</td>
		</tr>
		<tr>
			<td tabindex="46"><input type="text" class="num" name="45" value="{{data.num45}}"></td>
			<td tabindex="47">7</td>
			<td tabindex="48"><input type="text" class="num" name="48" value="{{data.num48}}"></td>
			<td tabindex="49">6</td>
			<td tabindex="50">3</td>
			<td tabindex="51">5</td>
			<td tabindex="52"><input type="text" class="num" name="52" value="{{data.num52}}"></td>
			<td tabindex="53"><input type="text" class="num" name="53" value="{{data.num53}}"></td>
			<td tabindex="54"><input type="text" class="num" name="54" value="{{data.num54}}"></td>
		<tr>
			<td tabindex="55">4</td>
			<td tabindex="56"><input type="text" class="num" name="56" value="{{data.num56}}"></td>
			<td tabindex="57"><input type="text" class="num" name="57" value="{{data.num57}}"></td>
			<td tabindex="58">5</td>
			<td tabindex="59"><input type="text" class="num" name="59" value="{{data.num59}}"></td>
			<td tabindex="60">2</td>
			<td tabindex="61"><input type="text" class="num" name="61" value="{{data.num61}}"></td>
			<td tabindex="62"><input type="text" class="num" name="62" value="{{data.num62}}"></td>
			<td tabindex="63">1</td>

		</tr>

		<tr>
			<td tabindex="64">2</td>
			<td tabindex="65"><input type="text" class="num" name="65" value="{{data.num65}}"></td>
			<td tabindex="66">7</td>
			<td tabindex="67"><input type="text" class="num" name="67" value="{{data.num67}}"></td>
			<td tabindex="68"><input type="text" class="num" name="68" value="{{data.num68}}"></td>
			<td tabindex="69"><input type="text" class="num" name="69" value="{{data.num69}}"></td>
			<td tabindex="70"><input type="text" class="num" name="70" value="{{data.num70}}"></td>
			<td tabindex="71">9</td>
			<td tabindex="72"><input type="text" class="num" name="72" value="{{data.num72}}"></td>

		</tr>
		<tr>
			<td tabindex="73"><input type="text" class="num" name="73" value="{{data.num73}}"></td>
			<td tabindex="74">5</td>
			<td tabindex="75">9</td>
			<td tabindex="76">1</td>
			<td tabindex="77"><input type="text" class="num" name="77" value="{{data.num77}}"></td>
			<td tabindex="78">4</td>
			<td tabindex="79">3</td>
			<td tabindex="80"><input type="text" class="num" name="80" value="{{data.num80}}"></td>
			<td tabindex="81">6</td>

		</tr>
	</tr>
	</table>
	<div style="text-align:center">
		<input type="submit" value="submit" style="margin:2%">
		<input type="submit" value="clear" style="margin:2%">
	</div>
</form>
<script>
	// Get the form element and input fields
	var inputFields = form.getElementsByTagName("input");
	
	// Listen for keypress events on the input fields
	for (var i = 0; i < inputFields.length; i++) {
	  inputFields[i].addEventListener("keypress", function(event) {
		if (event.keyCode === 13) {
		  event.preventDefault(); // Prevent the default action (i.e. submitting the form)
		  form.submit(); // Submit the form
		}
	  });
	}
</script>
</body>

